/***********************
 * Idk what this does. *
 *    No touchies.	   *
 **********************/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********************
 *   	  Fonts 		  *
 ********************/
@font-face {
  font-family: 'Transamerica Laser';
  font-style: normal;
  font-weight: 300;
  src: local('Transamerica Laser'),
    url('./transamericalaser.woff2') format('woff2');
}
@font-face {
  font-family: 'SF TransRobotics';
  font-style: normal;
  font-weight: 300;
  src: local('SF TransRobotics'),
    url('./SF\ TransRobotics.woff2') format('woff2');
}
@font-face {
  font-family: 'Transamerica';
  font-style: normal;
  font-weight: 300;
  src: local('Transamerica'), url('./transamerica.woff2') format('woff2');
}
body * {
  font-family: 'Transamerica Laser';
  font-weight: 300;
}

/********************
 * 	   General		  *
 ********************/

html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--default-color);
  overflow: hidden;
}
p {
  margin: 0px;
  font-family: 'SF TransRobotics';
  font-size: 125%;
}
a,
a:visited,
a:active {
  color: var(--default-color);
  text-decoration: none;
  font-family: 'SF TransRobotics';
}
li {
  font-family: 'SF TransRobotics';
  font-size: 125%;
}

/********************
 * 	   Scrollbar	*
 ********************/
::-webkit-scrollbar {
  /* width */
  width: 10px;
}

::-webkit-scrollbar-thumb {
  /* Handle */
  background: var(--default-color);
}

::-webkit-scrollbar-thumb:hover {
  /* Handle on hover */
  background: var(--default-color);
}

::-webkit-scrollbar-track-piece {
  /* not handle on */
  background: transparent;
}

@import './variables.css';
@import './animations.css';
