/* Tailwind Stuff */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* plugins */
@import "./calendar.css";

/* Fonts */
/* @font-face {
  font-family: 'IBM Plex Sans';
  src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,500;1,400&display=swap');
} */

html,
body {
  padding: 0;
  margin: 0;
  background: #17191e;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* text aliasing */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

path {
  shape-rendering: geometricPrecision;
}

a {
  color: inherit;
  text-decoration: none;
}

.rounded-xl {
  border-radius: 1.5rem;
}


/* Custom media queries */
@media (max-width: 1279px) {
  .container {
    max-width: 815px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .news-link {
    width: calc(50% - 1rem);
    overflow: auto;
  }
  .news-link:nth-child(odd) {
    float: left;
  }
  .news-link:nth-child(even) {
    float: right;
  }
}
@media (min-width: 1280px) {
  .main-wrapper {
    min-height: 1020px;
  }
  .news-link {
    display: block;
    float: none;
  }
}
@media (max-width: 849px) {
  .news-link {
    display: block;
    float: none;
    width: 100%;
  }
  .main-wrapper {
    max-width: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
  }
}
@media (max-width: 550px) {
  .main-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bookmark-link {
    grid-column: span 2 !important;
  }
  .news-wrapper {
    padding: 1.5rem;
    padding-top: 2.5rem;
  }
  .news-link > div {
    margin: 0 0 1rem;
  }
}
